mat-dialog-content {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  mat-dialog-actions {
    justify-content: center;
  }
  
  button {
    margin-left: 10px;
    margin-right: 10px;
  }